/*----------------------
        HEADER
------------------------*/

.ms-header {
    height: 4.375rem;
}

/*----------------------
        DEBUG
------------------------*/

.debug {
    border: 2px solid red;
}

.debug-2 {
    border: 2px solid blue;
}

.debug-3 {
    border: 2px solid green;
}

/*----------------------
        LAYOUT
------------------------*/

.main-content {
    height: calc(100vh - 4.375rem);
}

aside {
    width: 68px;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/*----------------------
        HEADER
------------------------*/

header {
    background-color: #f8f9fa;
}

header .container-fluid {
    background-color: #fff;
}

.ms-logo-mobile {
    width: 50px;
}

.search-container {
    background-color: #e5e5e5;
}

.search-container .form-control {
    background-color: #e5e5e5;
}

.search-container .form-control:focus {
    box-shadow: none;
    border: none;
    background-color: #e5e5e5;
}

.fa-bell {
    color: #ff8f00;
}

.extension-icon i {
    padding: 0 10px;
}

.extension-icon a {
    list-style: none;
    text-decoration: none;
    color: #5b5858;
}
.dropdown .ms-btn-bell {
    padding: 0;
    border: none;
}

/*----------------------
        ASIDE
------------------------*/

aside {
    background-color: #051e34;
    background-image: url('./img/sidebar-bg.png');
}

.ms-menu-aside {
    height: 100%;
    padding: 1.5rem 0;
    padding-left: 0;
}

.ms-menu-aside li {
    list-style: none;
    padding: 0.3rem 0.3rem;
}

.ms-menu-aside a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.ms-menu-aside li:hover {
    background-color: #e5e5e580;
}

/*----------------------
        MAIN
------------------------*/

main {
    background-color: #f8f9fa;
}

/*----------------------
        TOP BAR BLUE
------------------------*/

.ms-top-bar {
    background-color: #1b72e8;
}

.ms-badge-bg {
    background-color: #165bba;
}

.ms-title-breadcrumb-container .badge {
    border-radius: 50px;
}

.ms-title-breadcrumb-container a {
    text-decoration: none;
}

/*----------------------
       OFFCANVAS
------------------------*/

.ms-offcanvas-parent .offcanvas.offcanvas-end {
    width: 100%;
}

.ms-offcanvas-parent label {
    font-size: 14px;
    font-weight: 500;
}

/*----------------------
    MEDIA QUERY => 768px md
------------------------*/

@media screen and  (min-width: 768px) {

}

/*----------------------
    MEDIA QUERY => 992px lg
------------------------*/

@media screen and  (min-width: 992px) {
    aside {
        width: 150px;
    }

    .ms-menu-aside li:hover {
        background-color: transparent;    
    }

    .ms-menu-aside a:hover {
        background-color: #e5e5e580;
    }

    /* OFFCANVAS */

    .ms-offcanvas-parent .offcanvas.offcanvas-end {
        max-width: 40%;
    }
}